.ap-todayWeatherController {
    margin: 0 20px;
}

    .ap-todayWeatherController .error {
        border: 1px solid red;
        border-left-width: 2px;
        display: none;
        overflow: auto;
        background-color: lemonchiffon;
        margin: 0 5px;
    }

        .ap-todayWeatherController .error .img {
            background-image: url('../../img/error.png');
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
            background-size: cover;
            float: left;
        }

        .ap-todayWeatherController .error .text {
            float: left;
            padding: 6px;
        }

    .ap-todayWeatherController .search {
        overflow: auto;
        margin: 5px 0;
        padding: 5px 0;
    }

        .ap-todayWeatherController .search > div,
        .ap-todayWeatherController .search > input,
        .ap-todayWeatherController .search > button {
            float: left;
            margin: 0 5px;
        }

        .ap-todayWeatherController .search > input {
            border-width: 2px;
            border-style: solid;
        }

        .ap-todayWeatherController .search > button {
            border-radius: 5px;
            border-style: solid;
            width: 100px;
            height: 25px;
            font-family: Arial;
            font-size: 16px;
            margin-top: -1px;
        }

    .ap-todayWeatherController .loading {
        background-image: url('../../img/ajax-loader.gif');
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        background-size: cover;
        display: none;
    }

    .ap-todayWeatherController .weather {
        overflow: auto;
        margin: 5px 0;
    }

        .ap-todayWeatherController .weather .img {
            background-image: url('../../img/icons.png');
            background-repeat: no-repeat;
            width: 70px;
            height: 80px;
            float: left;
        }

            .ap-todayWeatherController .weather .img.Clear {
                background-position: -70px 0;
            }

            .ap-todayWeatherController .weather .img.Clouds {
                background-position: -70px -360px;
            }

            .ap-todayWeatherController .weather .img.Rain {
                background-position: -280px -360px;
            }

            .ap-todayWeatherController .weather .img.NA {
                background-position: -140px -510px;
            }

        .ap-todayWeatherController .weather .detail {
            float: left;
            padding: 20px;
        }

            .ap-todayWeatherController .weather .detail .main {
                font-size: 24px;
            }

            .ap-todayWeatherController .weather .detail .desc {
                font-size: 12px;
                color: gray;
            }

    .ap-todayWeatherController .temp,
    .ap-todayWeatherController .humidity {
        overflow: auto;
        margin: 10px 0;
    }

        .ap-todayWeatherController .temp > div,
        .ap-todayWeatherController .humidity > div {
            float: left;
            margin: 0 5px;
        }
